In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, urllib2
from zipfile import ZipFile
from StringIO import StringIO
%matplotlib inline
plt.style.use('ggplot')

In [2]:
bike_months = [
    '201501',
    '201504',
    '201507',
    '201510'
]

In [4]:
frames = []
for m in bike_months:
    url = 'https://s3.amazonaws.com/tripdata/%s-citibike-tripdata.zip'%m
    r = urllib2.urlopen(url).read()
    myfile = ZipFile(StringIO(r))
    df_csv = myfile.open('%s-citibike-tripdata.csv'%m)
    frame = pd.read_csv(df_csv)
    frames.append(frame)

df = pd.concat(frames, ignore_index=True)
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977,1
5,496,1/1/2015 0:07,1/1/2015 0:15,512,W 29 St & 9 Ave,40.750073,-73.998393,383,Greenwich Ave & Charles St,40.735238,-74.000271,20788,Subscriber,1969,2
6,152,1/1/2015 0:07,1/1/2015 0:09,498,Broadway & W 32 St,40.748549,-73.988084,474,5 Ave & E 29 St,40.745168,-73.986831,19006,Subscriber,1972,1
7,1183,1/1/2015 0:08,1/1/2015 0:28,405,Washington St & Gansevoort St,40.739323,-74.008119,174,E 25 St & 1 Ave,40.738177,-73.977387,17640,Subscriber,1985,2
8,846,1/1/2015 0:09,1/1/2015 0:23,450,W 49 St & 8 Ave,40.762272,-73.987882,488,W 39 St & 9 Ave,40.756458,-73.993722,15691,Subscriber,1991,1
9,576,1/1/2015 0:10,1/1/2015 0:20,160,E 37 St & Lexington Ave,40.748238,-73.978311,174,E 25 St & 1 Ave,40.738177,-73.977387,17837,Subscriber,1991,1
10,540,1/1/2015 0:10,1/1/2015 0:19,291,Madison St & Montgomery St,40.713126,-73.984844,151,Cleveland Pl & Spring St,40.721816,-73.997203,16947,Subscriber,1979,1
11,419,1/1/2015 0:11,1/1/2015 0:18,517,Pershing Square South,40.751581,-73.977910,540,Lexington Ave & E 26 St,40.741473,-73.983209,14807,Subscriber,1980,1
12,751,1/1/2015 0:13,1/1/2015 0:25,290,2 Ave & E 58 St,40.760203,-73.964785,507,E 25 St & 2 Ave,40.739126,-73.979738,16702,Subscriber,1987,1
13,332,1/1/2015 0:13,1/1/2015 0:18,361,Allen St & Hester St,40.716059,-73.991908,438,St Marks Pl & 1 Ave,40.727791,-73.985649,17342,Subscriber,1988,1
14,1099,1/1/2015 0:14,1/1/2015 0:32,317,E 6 St & Avenue B,40.724537,-73.981854,2012,E 27 St & 1 Ave,40.739445,-73.976806,19909,Subscriber,1983,1
15,649,1/1/2015 0:14,1/1/2015 0:25,488,W 39 St & 9 Ave,40.756458,-73.993722,434,9 Ave & W 18 St,40.743174,-74.003664,19584,Subscriber,1979,1
16,614,1/1/2015 0:14,1/1/2015 0:24,285,Broadway & E 14 St,40.734546,-73.990741,312,Allen St & E Houston St,40.722055,-73.989111,19202,Subscriber,1959,1
17,1196,1/1/2015 0:16,1/1/2015 0:36,466,W 25 St & 6 Ave,40.743954,-73.991449,454,E 51 St & 1 Ave,40.754557,-73.965930,20683,Subscriber,1971,1
18,1426,1/1/2015 0:17,1/1/2015 0:40,360,William St & Pine St,40.707179,-74.008873,391,Clark St & Henry St,40.697601,-73.993446,21554,Subscriber,1977,1
19,1262,1/1/2015 0:18,1/1/2015 0:39,485,W 37 St & 5 Ave,40.750380,-73.983390,251,Mott St & Prince St,40.723180,-73.994800,16894,Subscriber,1980,1
20,707,1/1/2015 0:18,1/1/2015 0:30,449,W 52 St & 9 Ave,40.764618,-73.987895,509,9 Ave & W 22 St,40.745497,-74.001971,14598,Subscriber,1972,1
21,307,1/1/2015 0:18,1/1/2015 0:23,474,5 Ave & E 29 St,40.745168,-73.986831,476,E 31 St & 3 Ave,40.743943,-73.979661,18834,Subscriber,1962,1
22,1053,1/1/2015 0:19,1/1/2015 0:37,164,E 47 St & 2 Ave,40.753231,-73.970325,523,W 38 St & 8 Ave,40.754666,-73.991382,15617,Subscriber,1987,1
23,446,1/1/2015 0:20,1/1/2015 0:27,522,E 51 St & Lexington Ave,40.757148,-73.972078,518,E 39 St & 2 Ave,40.747804,-73.973442,15812,Subscriber,1988,1
24,1251,1/1/2015 0:21,1/1/2015 0:41,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,19780,Customer,NaN,0
25,797,1/1/2015 0:21,1/1/2015 0:35,513,W 56 St & 10 Ave,40.768254,-73.988639,488,W 39 St & 9 Ave,40.756458,-73.993722,16761,Subscriber,1969,1
26,503,1/1/2015 0:21,1/1/2015 0:30,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14570,Customer,NaN,0
27,1639,1/1/2015 0:22,1/1/2015 0:49,382,University Pl & E 14 St,40.734927,-73.992005,352,W 56 St & 6 Ave,40.763406,-73.977225,18320,Subscriber,1996,2
28,1175,1/1/2015 0:22,1/1/2015 0:42,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,16610,Customer,NaN,0
29,470,1/1/2015 0:22,1/1/2015 0:30,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,20804,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235865,302,10/31/2015 23:57:51,11/1/2015 00:02:54,439,E 4 St & 2 Ave,40.726281,-73.989780,326,E 11 St & 1 Ave,40.729538,-73.984267,23705,Subscriber,1982,1
3235866,1321,10/31/2015 23:57:52,11/1/2015 00:19:54,268,Howard St & Centre St,40.719105,-73.999733,426,West St & Chambers St,40.717548,-74.013221,24036,Customer,NaN,0
3235867,267,10/31/2015 23:57:57,11/1/2015 00:02:24,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3106,Driggs Ave & N Henry St,40.723250,-73.943080,24078,Subscriber,1982,1
3235868,704,10/31/2015 23:58:00,11/1/2015 00:09:45,521,8 Ave & W 31 St,40.750967,-73.994442,482,W 15 St & 7 Ave,40.739355,-73.999318,23197,Subscriber,1967,1
3235869,1127,10/31/2015 23:58:01,11/1/2015 00:16:49,463,9 Ave & W 16 St,40.742065,-74.004432,403,E 2 St & 2 Ave,40.725029,-73.990697,17391,Subscriber,1983,2
3235870,288,10/31/2015 23:58:01,11/1/2015 00:02:50,439,E 4 St & 2 Ave,40.726281,-73.989780,326,E 11 St & 1 Ave,40.729538,-73.984267,22171,Subscriber,1982,2
3235871,474,10/31/2015 23:58:06,11/1/2015 00:06:00,521,8 Ave & W 31 St,40.750967,-73.994442,450,W 49 St & 8 Ave,40.762272,-73.987882,23482,Subscriber,1978,1
3235872,292,10/31/2015 23:58:10,11/1/2015 00:03:03,439,E 4 St & 2 Ave,40.726281,-73.989780,326,E 11 St & 1 Ave,40.729538,-73.984267,22120,Subscriber,1983,2
3235873,470,10/31/2015 23:58:17,11/1/2015 00:06:07,521,8 Ave & W 31 St,40.750967,-73.994442,450,W 49 St & 8 Ave,40.762272,-73.987882,18211,Subscriber,1980,2
3235874,320,10/31/2015 23:58:19,11/1/2015 00:03:40,334,W 20 St & 7 Ave,40.742388,-73.997262,247,Perry St & Bleecker St,40.735354,-74.004831,22527,Subscriber,1979,1
3235875,710,10/31/2015 23:58:23,11/1/2015 00:10:14,236,St Marks Pl & 2 Ave,40.728419,-73.987140,302,Avenue D & E 3 St,40.720828,-73.977932,24230,Subscriber,1963,1
3235876,513,10/31/2015 23:58:39,11/1/2015 00:07:12,3074,Montrose Ave & Bushwick Ave,40.707678,-73.940162,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,22115,Subscriber,1980,1
3235877,883,10/31/2015 23:58:56,11/1/2015 00:13:40,229,Great Jones St,40.727434,-73.993790,308,St James Pl & Oliver St,40.713079,-73.998512,17554,Subscriber,1995,1
3235878,1487,10/31/2015 23:58:58,11/1/2015 00:23:46,119,Park Ave & St Edwards St,40.696089,-73.978034,3071,Boerum St & Broadway,40.705381,-73.949765,14948,Customer,NaN,0
3235879,194,10/31/2015 23:58:59,11/1/2015 00:02:13,504,1 Ave & E 15 St,40.732219,-73.981656,487,E 20 St & FDR Drive,40.733143,-73.975739,23553,Subscriber,1982,2
3235880,1471,10/31/2015 23:59:00,11/1/2015 00:23:31,119,Park Ave & St Edwards St,40.696089,-73.978034,3071,Boerum St & Broadway,40.705381,-73.949765,15414,Customer,NaN,0
3235881,3939,10/31/2015 23:59:05,11/1/2015 01:04:44,257,Lispenard St & Broadway,40.719392,-74.002472,387,Centre St & Chambers St,40.712733,-74.004607,18901,Customer,NaN,0
3235882,4033,10/31/2015 23:59:05,11/1/2015 01:06:19,257,Lispenard St & Broadway,40.719392,-74.002472,387,Centre St & Chambers St,40.712733,-74.004607,19899,Customer,NaN,0
3235883,3958,10/31/2015 23:59:06,11/1/2015 01:05:04,257,Lispenard St & Broadway,40.719392,-74.002472,387,Centre St & Chambers St,40.712733,-74.004607,16282,Customer,NaN,0
3235884,1041,10/31/2015 23:59:12,11/1/2015 00:16:33,492,W 33 St & 7 Ave,40.750200,-73.990931,285,Broadway & E 14 St,40.734546,-73.990741,18253,Subscriber,1959,1
3235885,736,10/31/2015 23:59:17,11/1/2015 00:11:33,348,W Broadway & Spring St,40.724910,-74.001547,229,Great Jones St,40.727434,-73.993790,17827,Customer,NaN,0
3235886,548,10/31/2015 23:59:26,11/1/2015 00:08:35,379,W 31 St & 7 Ave,40.749156,-73.991600,546,E 30 St & Park Ave S,40.744449,-73.983035,16859,Subscriber,1962,1
3235887,3919,10/31/2015 23:59:35,11/1/2015 01:04:55,257,Lispenard St & Broadway,40.719392,-74.002472,387,Centre St & Chambers St,40.712733,-74.004607,16982,Customer,NaN,0
3235888,1621,10/31/2015 23:59:36,11/1/2015 00:26:38,285,Broadway & E 14 St,40.734546,-73.990741,3156,E 72 St & York Ave,40.766638,-73.953483,21038,Subscriber,1976,1
3235889,341,10/31/2015 23:59:44,11/1/2015 00:05:25,490,8 Ave & W 33 St,40.751551,-73.993934,2021,W 45 St & 8 Ave,40.759291,-73.988597,15238,Subscriber,1971,1
3235890,1924,10/31/2015 23:59:46,11/1/2015 00:31:50,498,Broadway & W 32 St,40.748549,-73.988084,531,Forsyth St & Broome St,40.718939,-73.992663,17292,Subscriber,1960,1
3235891,711,10/31/2015 23:59:50,11/1/2015 00:11:42,348,W Broadway & Spring St,40.724910,-74.001547,361,Allen St & Hester St,40.716059,-73.991908,23374,Subscriber,1982,1
3235892,621,10/31/2015 23:59:54,11/1/2015 00:10:15,237,E 11 St & 2 Ave,40.730473,-73.986724,348,W Broadway & Spring St,40.724910,-74.001547,23503,Subscriber,1990,1
3235893,632,10/31/2015 23:59:56,11/1/2015 00:10:29,237,E 11 St & 2 Ave,40.730473,-73.986724,348,W Broadway & Spring St,40.724910,-74.001547,22104,Subscriber,1980,2
3235894,807,10/31/2015 23:59:57,11/1/2015 00:13:24,468,Broadway & W 55 St,40.765265,-73.981923,446,W 24 St & 7 Ave,40.744876,-73.995299,14597,Subscriber,1967,1

In [5]:
start = df.groupby('start station id').count()['start station name']
end = df.groupby('end station id').count()['end station name']

In [8]:
df_s = pd.DataFrame(columns=['StationID','NumberofTrips'])
df_s['StationID'] = start.index
df_s['NumberofTrips'] = start.values
df_s = df_s.sort(['NumberofTrips'],ascending=False)
df_s

     StationID  NumberofTrips
296        521          32595
294        519          31854
83         293          31461
213        435          28453
273        497          27837
205        426          25514
79         285          24096
15         151          22549
78         284          22207
184        402          21875
116        327          21504
155        368          21244
253        477          21232
266        490          21065
275        499          21057
304        529          20788
222        444          20256
235        459          20162
50         250          19786
145        358          19554
164        382          19492
162        379          18937
311        537          18558
7          127          18440
323       2006          18007
298        523          17967
224        446          17712
23         168          17607
198        417          17572
169        387          17558
..         ...            ...
400       3114            298
345       3055            292
391       3105            281
348       3058            274
365       3075            264
339       3048            253
356       3066            251
355       3065            244
346       3056            237
413       3127            226
360       3070            225
464       3229            222
362       3072            221
322       2005            213
409       3123            211
414       3128            203
353       3063            197
335       3043            192
337       3046            191
459       3221            187
333       3041            183
343       3053            163
349       3059            153
457       3179            152
351       3061            152
336       3044            136
386       3099             35
471       3237             10
55         255              6
416       3130              3

[472 rows x 2 columns]

In [16]:
df_s['StationID'][:10].tolist()

[521, 519, 293, 435, 497, 426, 285, 151, 284, 402]

In [29]:
stations = pd.DataFrame(columns=['id','lat','lon'])
count = 0
for i in df_s['StationID'][:20].tolist():
    stations.loc[count,'id'] = i
    stations.loc[count,'lat'] = df[df['start station id']==i]['start station latitude'].values[0]
    stations.loc[count,'lon'] = df[df['start station id']==i]['start station longitude'].values[0]
    count += 1
stations

     id       lat       lon
0   521  40.75045 -73.99481
1   519  40.75187 -73.97771
2   293  40.73029 -73.99076
3   435  40.74174 -73.99416
4   497  40.73705 -73.99009
5   426  40.71755 -74.01322
6   285  40.73455 -73.99074
7   151  40.72182  -73.9972
8   284  40.73902 -74.00264
9   402  40.74034 -73.98955
10  327  40.71534 -74.01658
11  368  40.73039 -74.00215
12  477  40.75641 -73.99003
13  490  40.75155 -73.99393
14  499  40.76916 -73.98192
15  529  40.75757 -73.99099
16  444  40.74235 -73.98915
17  459  40.74675 -74.00776
18  250  40.72456 -73.99565
19  358  40.73292 -74.00711

In [30]:
df_sf = df_s.merge(stations,how='inner',left_on='StationID',right_on='id')
df_sf

    StationID  NumberofTrips   id       lat       lon
0         521          32595  521  40.75045 -73.99481
1         519          31854  519  40.75187 -73.97771
2         293          31461  293  40.73029 -73.99076
3         435          28453  435  40.74174 -73.99416
4         497          27837  497  40.73705 -73.99009
5         426          25514  426  40.71755 -74.01322
6         285          24096  285  40.73455 -73.99074
7         151          22549  151  40.72182  -73.9972
8         284          22207  284  40.73902 -74.00264
9         402          21875  402  40.74034 -73.98955
10        327          21504  327  40.71534 -74.01658
11        368          21244  368  40.73039 -74.00215
12        477          21232  477  40.75641 -73.99003
13        490          21065  490  40.75155 -73.99393
14        499          21057  499  40.76916 -73.98192
15        529          20788  529  40.75757 -73.99099
16        444          20256  444  40.74235 -73.98915
17        459          20162  459  40.74675 -74.00776
18        250          19786  250  40.72456 -73.99565
19        358          19554  358  40.73292 -74.00711

In [31]:
df_e = pd.DataFrame(columns=['StationID','NumberofTrips'])
df_e['StationID'] = end.index
df_e['NumberofTrips'] = end.values
df_e = df_e.sort(['NumberofTrips'],ascending=False)
stationss = pd.DataFrame(columns=['id','lat','lon'])
count = 0
for i in df_e['StationID'][:20].tolist():
    stationss.loc[count,'id'] = i
    stationss.loc[count,'lat'] = df[df['end station id']==i]['end station latitude'].values[0]
    stationss.loc[count,'lon'] = df[df['end station id']==i]['end station longitude'].values[0]
    count += 1
df_ef = df_e.merge(stationss,how='inner',left_on='StationID',right_on='id')
df_ef

    StationID  NumberofTrips   id       lat       lon
0         293          31420  293  40.73029 -73.99076
1         497          29312  497  40.73705 -73.99009
2         519          28809  519  40.75187 -73.97771
3         435          28728  435  40.74174 -73.99416
4         521          27828  521  40.75045 -73.99481
5         426          26418  426  40.71755 -74.01322
6         285          24374  285  40.73455 -73.99074
7         477          23350  477  40.75641 -73.99003
8         284          22573  284  40.73902 -74.00264
9         151          22488  151  40.72182  -73.9972
10        402          21643  402  40.74034 -73.98955
11        368          21396  368  40.73039 -74.00215
12        327          21291  327  40.71534 -74.01658
13        459          21221  459  40.74675 -74.00776
14        499          20780  499  40.76916 -73.98192
15        444          20459  444  40.74235 -73.98915
16        490          20440  490  40.75155 -73.99393
17        382          20304  382  40.73493 -73.99201
18        250          20116  250  40.72456 -73.99565
19        358          20061  358  40.73292 -74.00711

In [32]:
df_test = df_sf.merge(df_ef,how='outer',on='id')
df_test

,StationID_x,NumberofTrips_x,id,lat_x,lon_x,StationID_y,NumberofTrips_y,lat_y,lon_y
0,521,32595,521,40.75045,-73.99481,521,27828,40.75045,-73.99481
1,519,31854,519,40.75187,-73.97771,519,28809,40.75187,-73.97771
2,293,31461,293,40.73029,-73.99076,293,31420,40.73029,-73.99076
3,435,28453,435,40.74174,-73.99416,435,28728,40.74174,-73.99416
4,497,27837,497,40.73705,-73.99009,497,29312,40.73705,-73.99009
5,426,25514,426,40.71755,-74.01322,426,26418,40.71755,-74.01322
6,285,24096,285,40.73455,-73.99074,285,24374,40.73455,-73.99074
7,151,22549,151,40.72182,-73.9972,151,22488,40.72182,-73.9972
8,284,22207,284,40.73902,-74.00264,284,22573,40.73902,-74.00264
9,402,21875,402,40.74034,-73.98955,402,21643,40.74034,-73.98955
10,327,21504,327,40.71534,-74.01658,327,21291,40.71534,-74.01658
11,368,21244,368,40.73039,-74.00215,368,21396,40.73039,-74.00215
12,477,21232,477,40.75641,-73.99003,477,23350,40.75641,-73.99003
13,490,21065,490,40.75155,-73.99393,490,20440,40.75155,-73.99393
14,499,21057,499,40.76916,-73.98192,499,20780,40.76916,-73.98192
15,529,20788,529,40.75757,-73.99099,NaN,NaN,NaN,NaN
16,444,20256,444,40.74235,-73.98915,444,20459,40.74235,-73.98915
17,459,20162,459,40.74675,-74.00776,459,21221,40.74675,-74.00776
18,250,19786,250,40.72456,-73.99565,250,20116,40.72456,-73.99565
19,358,19554,358,40.73292,-74.00711,358,20061,40.73292,-74.00711
20,NaN,NaN,382,NaN,NaN,382,20304,40.73493,-73.99201

In [33]:
df_test.loc[20,'lat_x'] = df_test.loc[20,'lat_y']
df_test.loc[20,'lon_x'] = df_test.loc[20,'lon_y']
df_test

,StationID_x,NumberofTrips_x,id,lat_x,lon_x,StationID_y,NumberofTrips_y,lat_y,lon_y
0,521,32595,521,40.75045,-73.99481,521,27828,40.75045,-73.99481
1,519,31854,519,40.75187,-73.97771,519,28809,40.75187,-73.97771
2,293,31461,293,40.73029,-73.99076,293,31420,40.73029,-73.99076
3,435,28453,435,40.74174,-73.99416,435,28728,40.74174,-73.99416
4,497,27837,497,40.73705,-73.99009,497,29312,40.73705,-73.99009
5,426,25514,426,40.71755,-74.01322,426,26418,40.71755,-74.01322
6,285,24096,285,40.73455,-73.99074,285,24374,40.73455,-73.99074
7,151,22549,151,40.72182,-73.9972,151,22488,40.72182,-73.9972
8,284,22207,284,40.73902,-74.00264,284,22573,40.73902,-74.00264
9,402,21875,402,40.74034,-73.98955,402,21643,40.74034,-73.98955
10,327,21504,327,40.71534,-74.01658,327,21291,40.71534,-74.01658
11,368,21244,368,40.73039,-74.00215,368,21396,40.73039,-74.00215
12,477,21232,477,40.75641,-73.99003,477,23350,40.75641,-73.99003
13,490,21065,490,40.75155,-73.99393,490,20440,40.75155,-73.99393
14,499,21057,499,40.76916,-73.98192,499,20780,40.76916,-73.98192
15,529,20788,529,40.75757,-73.99099,NaN,NaN,NaN,NaN
16,444,20256,444,40.74235,-73.98915,444,20459,40.74235,-73.98915
17,459,20162,459,40.74675,-74.00776,459,21221,40.74675,-74.00776
18,250,19786,250,40.72456,-73.99565,250,20116,40.72456,-73.99565
19,358,19554,358,40.73292,-74.00711,358,20061,40.73292,-74.00711
20,NaN,NaN,382,40.73493,-73.99201,382,20304,40.73493,-73.99201

In [34]:
df_test = df_test.rename(columns={'lat_x':'lat','lon_x':'lon'})
df_f = df_test.drop(['StationID_x','NumberofTrips_x','StationID_y','NumberofTrips_y','lat_y','lon_y'],axis=1)
df_f

     id       lat       lon
0   521  40.75045 -73.99481
1   519  40.75187 -73.97771
2   293  40.73029 -73.99076
3   435  40.74174 -73.99416
4   497  40.73705 -73.99009
5   426  40.71755 -74.01322
6   285  40.73455 -73.99074
7   151  40.72182  -73.9972
8   284  40.73902 -74.00264
9   402  40.74034 -73.98955
10  327  40.71534 -74.01658
11  368  40.73039 -74.00215
12  477  40.75641 -73.99003
13  490  40.75155 -73.99393
14  499  40.76916 -73.98192
15  529  40.75757 -73.99099
16  444  40.74235 -73.98915
17  459  40.74675 -74.00776
18  250  40.72456 -73.99565
19  358  40.73292 -74.00711
20  382  40.73493 -73.99201

In [35]:
for i in df_f.index:
    if i==15:
        df_f.loc[i,'popular as'] = 'start'
    elif i==20:
        df_f.loc[i,'popular as'] = 'end'
    else:
        df_f.loc[i,'popular as'] = 'both start & end'
df_f

     id       lat       lon        popular as
0   521  40.75045 -73.99481  both start & end
1   519  40.75187 -73.97771  both start & end
2   293  40.73029 -73.99076  both start & end
3   435  40.74174 -73.99416  both start & end
4   497  40.73705 -73.99009  both start & end
5   426  40.71755 -74.01322  both start & end
6   285  40.73455 -73.99074  both start & end
7   151  40.72182  -73.9972  both start & end
8   284  40.73902 -74.00264  both start & end
9   402  40.74034 -73.98955  both start & end
10  327  40.71534 -74.01658  both start & end
11  368  40.73039 -74.00215  both start & end
12  477  40.75641 -73.99003  both start & end
13  490  40.75155 -73.99393  both start & end
14  499  40.76916 -73.98192  both start & end
15  529  40.75757 -73.99099             start
16  444  40.74235 -73.98915  both start & end
17  459  40.74675 -74.00776  both start & end
18  250  40.72456 -73.99565  both start & end
19  358  40.73292 -74.00711  both start & end
20  382  40.73493 -73.99201               end

In [36]:
df_f.to_csv('data_/cb_pop_locs.csv')