In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, datetime, statsmodels.formula.api as smf, matplotlib.dates as mdates
%matplotlib inline
plt.style.use('ggplot')

In [2]:
def convertDate(d):
    dt = datetime.datetime.strptime(d, '%m/%d/%Y')
    return dt

df = pd.read_csv('data/NYPD_Motor_Vehicle_Collisions.csv', converters={'DATE': convertDate})

In [3]:
c_inj_agg = df.groupby('DATE').sum()['NUMBER OF CYCLIST INJURED']

In [5]:
df_ = df[(df['NUMBER OF CYCLIST INJURED']>0)|(df['NUMBER OF CYCLIST KILLED']>0)]
print len(df),len(df_)

716227 14340

In [6]:
df_.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
17,2015-12-12,15:20,QUEENS,11435,40.693590,-73.800189,"(40.6935895, -73.8001891)",LAKEWOOD AVENUE,SUTPHIN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3352234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
44,2015-12-12,16:29,BROOKLYN,11226,40.644852,-73.960016,"(40.6448523, -73.9600159)",OCEAN AVENUE,BEVERLEY ROAD,NaN,...,Passenger Distraction,NaN,NaN,NaN,3352139,LARGE COM VEH(6 OR MORE TIRES),BICYCLE,NaN,NaN,NaN
87,2015-12-12,17:37,MANHATTAN,10002,40.715855,-73.994953,"(40.7158555, -73.9949534)",CHRYSTIE STREET,CANAL STREET,NaN,...,Unspecified,NaN,NaN,NaN,3351802,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
91,2015-12-12,17:40,BROOKLYN,11221,40.686649,-73.920739,"(40.6866487, -73.9207388)",JEFFERSON AVENUE,HOWARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3352195,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
128,2015-12-12,18:29,MANHATTAN,10014,40.732854,-74.007523,"(40.7328536, -74.0075232)",CHRISTOPHER STREET,GREENWICH STREET,NaN,...,Unspecified,NaN,NaN,NaN,3351814,TAXI,BICYCLE,NaN,NaN,NaN

In [7]:
df_.to_csv('data/Bicycle_Collisions.csv')

In [8]:
df__ = df[df['NUMBER OF CYCLIST KILLED']>0]
df__.to_csv('data_/Bicycle_Deaths.csv')

In [28]:
d = pd.Timestamp(datetime.datetime(2013, 7, 1))

In [30]:
d1 = df_[df_['DATE']<d]
d2 = df_[df_['DATE']>=d]

In [33]:
print len(d1),len(d2)
d1

3914 10426

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
516048,2013-06-30,0:10,BROOKLYN,11221,40.691624,-73.942661,"(40.6916242, -73.942661)",KOSCIUSKO STREET,THROOP AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,181326,UNKNOWN,BICYCLE,NaN,NaN,NaN
516077,2013-06-30,10:57,BROOKLYN,11205,40.692778,-73.957679,"(40.692778, -73.9576793)",FRANKLIN AVENUE,WILLOUGHBY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,181325,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516100,2013-06-30,12:00,QUEENS,11368,40.742845,-73.851210,"(40.7428447, -73.8512103)",111 STREET,54 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,257535,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516130,2013-06-30,13:09,QUEENS,11354,40.776627,-73.839054,"(40.7766272, -73.8390537)",ULMER STREET,25 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,251041,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516187,2013-06-30,15:20,QUEENS,11372,40.749940,-73.882450,"(40.7499403, -73.8824498)",37 AVENUE,84 STREET,NaN,...,Unspecified,NaN,NaN,NaN,282512,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516262,2013-06-30,17:50,QUEENS,11366,40.735604,-73.775154,"(40.7356042, -73.7751544)",73 AVENUE,197 STREET,NaN,...,Unspecified,NaN,NaN,NaN,236201,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516331,2013-06-30,1:30,NaN,NaN,NaN,NaN,NaN,CORONA AVENUE,91 PLACE,NaN,...,Unspecified,NaN,NaN,NaN,257531,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516354,2013-06-30,21:35,BRONX,10472,40.830078,-73.853762,"(40.8300784, -73.8537615)",HAVILAND AVENUE,OLMSTEAD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,83334,LIVERY VEHICLE,BICYCLE,NaN,NaN,NaN
516362,2013-06-30,22:00,QUEENS,11105,40.779747,-73.915819,"(40.7797473, -73.9158185)",DITMARS BOULEVARD,23 STREET,NaN,...,Unspecified,NaN,NaN,NaN,276543,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516363,2013-06-30,22:00,QUEENS,11354,40.772790,-73.837124,"(40.7727901, -73.8371242)",28 AVENUE,ULMER STREET,NaN,...,Unspecified,NaN,NaN,NaN,251044,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516391,2013-06-30,2:20,BRONX,10457,40.838875,-73.902647,"(40.8388747, -73.9026466)",WASHINGTON AVENUE,CLAREMONT PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,79857,OTHER,BICYCLE,NaN,NaN,NaN
516406,2013-06-30,3:30,BRONX,10452,40.843823,-73.916554,"(40.8438234, -73.9165542)",INWOOD AVENUE,GOBLE PLACE,NaN,...,Unspecified,NaN,NaN,NaN,87192,LIVERY VEHICLE,BICYCLE,NaN,NaN,NaN
516442,2013-06-30,6:45,BROOKLYN,11215,40.675437,-73.977958,"(40.6754368, -73.9779583)",6 AVENUE,UNION STREET,NaN,...,Unspecified,NaN,NaN,NaN,177896,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516492,2013-06-29,10:30,QUEENS,11101,40.754807,-73.916871,"(40.7548066, -73.9168715)",34 AVENUE,45 STREET,NaN,...,Unspecified,NaN,NaN,NaN,276526,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516508,2013-06-29,11:10,MANHATTAN,10016,40.742706,-73.984526,"(40.7427065, -73.9845256)",PARK AVENUE SOUTH,EAST 27 STREET,NaN,...,Unspecified,NaN,NaN,NaN,24263,TAXI,BICYCLE,NaN,NaN,NaN
516558,2013-06-29,12:30,BROOKLYN,11238,40.673588,-73.962955,"(40.6735884, -73.9629548)",WASHINGTON AVENUE,SAINT JOHNS PLACE,NaN,...,Unspecified,NaN,NaN,NaN,174369,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516601,2013-06-29,13:30,MANHATTAN,10040,40.856715,-73.932632,"(40.8567148, -73.9326318)",BROADWAY,FAIRVIEW AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,71530,BUS,BICYCLE,NaN,NaN,NaN
516638,2013-06-29,14:41,BROOKLYN,11236,40.635508,-73.913277,"(40.635508, -73.9132766)",EAST 80 STREET,FLATLANDS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,146317,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516644,2013-06-29,14:50,BROOKLYN,11204,40.611447,-73.991140,"(40.6114466, -73.9911399)",20 AVENUE,74 STREET,NaN,...,Unspecified,NaN,NaN,NaN,123931,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516656,2013-06-29,15:00,BROOKLYN,11222,40.735553,-73.958525,"(40.7355527, -73.9585253)",FRANKLIN STREET,DUPONT STREET,NaN,...,Passenger Distraction,NaN,NaN,NaN,199851,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516678,2013-06-29,15:30,QUEENS,11004,40.745451,-73.708374,"(40.7454509, -73.7083741)",263 STREET,80 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,224272,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516764,2013-06-29,17:30,QUEENS,11416,40.684254,-73.852801,"(40.6842542, -73.8528013)",88 STREET,97 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,206559,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516804,2013-06-29,18:30,MANHATTAN,10014,40.735305,-74.004933,"(40.7353048, -74.0049326)",BLEECKER STREET,PERRY STREET,NaN,...,Unspecified,NaN,NaN,NaN,11064,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516810,2013-06-29,18:40,BROOKLYN,11208,40.682038,-73.877868,"(40.6820384, -73.8778679)",FULTON STREET,LOGAN STREET,NaN,...,Unspecified,NaN,NaN,NaN,167712,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
516847,2013-06-29,19:50,QUEENS,11368,40.756287,-73.860720,"(40.7562867, -73.8607202)",34 AVENUE,108 STREET,NaN,...,Unspecified,NaN,NaN,NaN,282501,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516881,2013-06-29,20:36,BROOKLYN,11212,40.654629,-73.922006,"(40.654629, -73.9220058)",REMSEN AVENUE,KINGS HIGHWAY,NaN,...,Unspecified,Unspecified,NaN,NaN,138378,PASSENGER VEHICLE,PASSENGER VEHICLE,BICYCLE,NaN,NaN
516894,2013-06-29,21:15,NaN,NaN,NaN,NaN,NaN,WESTCHESTER AVENUE,HOBART AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,90656,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
516992,2013-06-29,4:35,BROOKLYN,11217,40.685659,-73.985689,"(40.6856595, -73.9856891)",DEAN STREET,BOND STREET,NaN,...,Unspecified,NaN,NaN,NaN,189912,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
517066,2013-06-28,17:20,MANHATTAN,10035,40.804376,-73.937420,"(40.8043758, -73.9374202)",EAST 125 STREET,LEXINGTON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,61113,OTHER,BICYCLE,NaN,NaN,NaN
517090,2013-06-28,16:59,MANHATTAN,10002,40.721463,-73.988524,"(40.7214625, -73.9885242)",ORCHARD STREET,STANTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,13147,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715260,2012-07-02,16:45,MANHATTAN,10027,40.810765,-73.952590,"(40.8107645, -73.9525902)",WEST 125 STREET,SAINT NICHOLAS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,62169,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
715274,2012-07-02,17:00,MANHATTAN,10016,40.748302,-73.978338,"(40.748302, -73.9783384)",EAST 37 STREET,LEXINGTON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,32055,TAXI,BICYCLE,NaN,NaN,NaN
715293,2012-07-02,17:25,MANHATTAN,10009,40.733212,-73.981057,"(40.7332119, -73.9810567)",EAST 17 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,21682,BUS,BICYCLE,NaN,NaN,NaN
715308,2012-07-02,17:40,BROOKLYN,11216,40.682835,-73.940913,"(40.6828346, -73.9409127)",HALSEY STREET,THROOP AVENUE,NaN,...,Physical Disability,NaN,NaN,NaN,179422,OTHER,BICYCLE,NaN,NaN,NaN
715330,2012-07-02,18:04,BROOKLYN,11213,40.671125,-73.940930,"(40.6711254, -73.9409303)",SAINT JOHNS PLACE,HAMPTON PLACE,NaN,...,Unspecified,NaN,NaN,NaN,172559,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
715343,2012-07-02,18:30,BROOKLYN,11205,40.698117,-73.977532,"(40.6981167, -73.9775324)",NORTH ELLIOT PLACE,FLUSHING AVENUE,NaN,...,Driver Inexperience,NaN,NaN,NaN,191557,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715387,2012-07-02,8:30,NaN,NaN,NaN,NaN,NaN,RIVERSIDE DRIVE,WEST 158 STREET,NaN,...,Unspecified,NaN,NaN,NaN,68165,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
715437,2012-07-02,19:28,MANHATTAN,10032,40.830892,-73.941367,"(40.8308918, -73.9413666)",SAINT NICHOLAS AVENUE,WEST 155 STREET,NaN,...,Unspecified,NaN,NaN,NaN,65003,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715439,2012-07-02,12:00,NaN,NaN,NaN,NaN,NaN,KINGS HIGHWAY,CLARENDON ROAD,NaN,...,Unspecified,NaN,NaN,NaN,135050,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715453,2012-07-02,19:40,BROOKLYN,11208,40.676056,-73.876509,"(40.676056, -73.8765089)",GLENMORE AVENUE,LOGAN STREET,NaN,...,Unspecified,NaN,NaN,NaN,163390,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715454,2012-07-02,19:42,QUEENS,11421,40.695520,-73.864558,"(40.6955195, -73.8645579)",PARK LANE SOUTH,79 STREET,NaN,...,Unspecified,NaN,NaN,NaN,203698,SPORT UTILITY / STATION WAGON,BICYCLE,NaN,NaN,NaN
715455,2012-07-02,19:45,QUEENS,11369,40.768841,-73.869662,"(40.7688406, -73.8696616)",101 STREET,23 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,279657,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715457,2012-07-02,19:50,BROOKLYN,11234,40.623980,-73.920626,"(40.6239797, -73.9206259)",EAST 57 STREET,AVENUE L,NaN,...,Unspecified,NaN,NaN,NaN,125676,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715476,2012-07-02,22:56,QUEENS,11385,40.700593,-73.854565,"(40.7005934, -73.8545649)",WOODHAVEN BOULEVARD,FOREST PARK DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,203707,UNKNOWN,BICYCLE,NaN,NaN,NaN
715496,2012-07-02,21:25,BRONX,10474,40.806972,-73.883559,"(40.8069716, -73.8835591)",BRYANT AVENUE,VIELE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,76210,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715500,2012-07-02,21:10,QUEENS,11377,40.751840,-73.903571,"(40.7518401, -73.9035714)",BROADWAY,58 STREET,NaN,...,Unspecified,NaN,NaN,NaN,238659,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715516,2012-07-02,20:20,QUEENS,11417,40.680297,-73.844640,"(40.6802965, -73.8446402)",CROSSBAY BOULEVARD,LIBERTY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,227954,LARGE COM VEH(6 OR MORE TIRES),BICYCLE,NaN,NaN,NaN
715524,2012-07-02,0:19,MANHATTAN,10007,40.713692,-74.013754,"(40.7136919, -74.0137542)",VESEY STREET,WEST STREET,NaN,...,Unspecified,NaN,NaN,NaN,37,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715525,2012-07-02,0:21,BROOKLYN,11218,40.636133,-73.972736,"(40.6361331, -73.9727361)",DITMAS AVENUE,OCEAN PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,129911,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715554,2012-07-02,9:46,MANHATTAN,10002,40.717724,-73.985765,"(40.7177239, -73.9857652)",DELANCEY STREET,CLINTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,12187,PICK-UP TRUCK,BICYCLE,NaN,NaN,NaN
715577,2012-07-02,5:25,MANHATTAN,10002,40.717894,-73.989474,"(40.7178944, -73.9894735)",LUDLOW STREET,BROOME STREET,NaN,...,Unspecified,NaN,NaN,NaN,12185,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715704,2012-07-01,14:14,MANHATTAN,10003,40.731166,-73.991921,"(40.7311655, -73.9919214)",BROADWAY,EAST 9 STREET,NaN,...,Unspecified,NaN,NaN,NaN,9409,TAXI,BICYCLE,NaN,NaN,NaN
715812,2012-07-01,15:40,BROOKLYN,11224,40.576159,-73.989017,"(40.5761593, -73.9890171)",MERMAID AVENUE,WEST 22 STREET,NaN,...,Unspecified,NaN,NaN,NaN,113545,BUS,BICYCLE,NaN,NaN,NaN
715854,2012-07-01,12:15,BROOKLYN,11211,40.711801,-73.942229,"(40.7118008, -73.9422288)",GRAND STREET,HUMBOLDT STREET,NaN,...,Unspecified,NaN,NaN,NaN,193861,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715963,2012-07-01,2:30,MANHATTAN,10065,40.764162,-73.968890,"(40.7641617, -73.9688897)",EAST 61 STREET,PARK AVENUE,NaN,...,Passenger Distraction,NaN,NaN,NaN,44909,TAXI,BICYCLE,NaN,NaN,NaN
715990,2012-07-01,22:47,BROOKLYN,11211,40.710957,-73.951117,"(40.7109568, -73.9511173)",GRAND STREET,UNION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,193864,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
715998,2012-07-01,22:20,BRONX,10473,40.823191,-73.855312,"(40.8231912, -73.8553122)",TURNBULL AVENUE,PUGSLEY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,80828,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
716009,2012-07-01,21:40,MANHATTAN,10009,40.724285,-73.975594,"(40.7242849, -73.9755935)",EAST 9 STREET,AVENUE D,NaN,...,Unspecified,NaN,NaN,NaN,13871,TAXI,BICYCLE,NaN,NaN,NaN
716017,2012-07-01,21:08,BROOKLYN,11212,40.672075,-73.911336,"(40.6720753, -73.9113364)",EAST NEW YORK AVENUE,ROCKAWAY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,160106,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
716122,2012-07-01,6:50,BRONX,10468,40.862679,-73.909040,"(40.8626793, -73.9090397)",SEDGWICK AVENUE,WEST FORDHAM ROAD,NaN,...,Unspecified,NaN,NaN,NaN,109483,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN

In [34]:
d1.to_csv('data/b4ct_collisions.csv')
d2.to_csv('data/afct_collisions.csv')

In [35]:
inj_b4 = d1.groupby('ZIP CODE').sum()['NUMBER OF CYCLIST INJURED']
inj_af = d2.groupby('ZIP CODE').sum()['NUMBER OF CYCLIST INJURED']

In [44]:
inj_b4.values

array([ 1, 46, 80, 75,  6,  6,  1, 15, 49, 51, 48, 28, 29, 17, 55, 27, 28,
       49,  1, 28, 39, 31, 18, 23, 23, 32, 12, 27, 12, 18, 10, 16, 13, 14,
       32,  5, 12,  6, 10, 12,  1, 11,  1, 23,  2,  2,  7,  4,  3,  5,  4,
        6,  2,  1,  5,  2,  3, 11, 15, 11,  8,  9, 14, 15, 23, 13, 19, 13,
       13,  6,  2,  8, 11, 14, 20, 10,  1,  2, 18, 10, 10,  3,  3, 39, 23,
       35, 18, 14, 20, 44, 53, 39, 63, 91, 69, 32, 24, 29, 71, 47, 43, 25,
       49, 56, 56, 42, 37, 47, 43, 40, 36, 15, 50, 54, 14, 30, 42, 13, 34,
       31, 22, 27, 21, 24, 57,  1, 30, 15, 15,  2,  5,  6,  4,  1,  6,  6,
        3,  3,  7, 68, 14,  9, 75, 34,  9, 17, 50, 11,  9, 28,  4, 16,  9,
        1,  7,  9,  6, 10, 16, 12, 15,  5,  4,  4,  2,  3,  5,  8,  8, 12,
        4,  5, 13,  2,  6,  3])

In [45]:
df_b4 = pd.DataFrame(columns=['ZipCode','NumberofIncidents'])
df_b4['ZipCode'] = inj_b4.index
df_b4['NumberofIncidents'] = inj_b4.values
df_b4

     ZipCode  NumberofIncidents
0      10000                  1
1      10001                 46
2      10002                 80
3      10003                 75
4      10004                  6
5      10005                  6
6      10006                  1
7      10007                 15
8      10009                 49
9      10010                 51
10     10011                 48
11     10012                 28
12     10013                 29
13     10014                 17
14     10016                 55
15     10017                 27
16     10018                 28
17     10019                 49
18     10020                  1
19     10021                 28
20     10022                 39
21     10023                 31
22     10024                 18
23     10025                 23
24     10026                 23
25     10027                 32
26     10028                 12
27     10029                 27
28     10030                 12
29     10031                 18
..       ...                ...
146    11377                 50
147    11378                 11
148    11379                  9
149    11385                 28
150    11411                  4
151    11412                 16
152    11413                  9
153    11414                  1
154    11415                  7
155    11416                  9
156    11417                  6
157    11418                 10
158    11419                 16
159    11420                 12
160    11421                 15
161    11422                  5
162    11423                  4
163    11426                  4
164    11427                  2
165    11428                  3
166    11429                  5
167    11432                  8
168    11433                  8
169    11434                 12
170    11435                  4
171    11436                  5
172    11691                 13
173    11693                  2
174    11694                  6
175    11697                  3

[176 rows x 2 columns]

In [47]:
df_b4 = df_b4.sort(['NumberofIncidents'],ascending=False)
df_b4[:20]

     ZipCode  NumberofIncidents
93     11206                 91
2      10002                 80
3      10003                 75
142    11372                 75
98     11211                 71
94     11207                 69
139    11368                 68
92     11205                 63
124    11238                 57
103    11216                 56
104    11217                 56
14     10016                 55
113    11226                 54
90     11203                 53
9      10010                 51
112    11225                 50
146    11377                 50
17     10019                 49
8      10009                 49
102    11215                 49

In [48]:
df_b4.to_csv('data_/b4_collision_zip.csv')

In [49]:
df_af = pd.DataFrame(columns=['ZipCode','NumberofIncidents'])
df_af['ZipCode'] = inj_af.index
df_af['NumberofIncidents'] = inj_af.values
df_af = df_af.sort(['NumberofIncidents'],ascending=False)
df_af[:20]

     ZipCode  NumberofIncidents
96     11211                250
91     11206                230
1      10002                199
2      10003                168
137    11368                166
111    11226                166
8      10010                165
90     11205                163
92     11207                152
13     10016                150
106    11221                145
122    11238                145
100    11215                143
16     10019                137
87     11201                137
102    11217                135
101    11216                133
144    11377                130
7      10009                128
140    11372                128

In [50]:
df_af.to_csv('data_/af_collision_zip.csv')